<% content_for :content do %>
<div class="row">
  <h1>New Meeting Result</h1>  
</div>
<div class="row">
  <div class="col-lg-6">
    <%= form_for :meeting_result, url: admin_meeting_results_path, html: {role: "form"} do |f| %>
        <input type="hidden" name="user_id" value="1"/>
        <div class="form-group">
            <%= f.label :date %>
            <%= f.text_field :date, class: 'form-control' %>
            <p class="help-block">Example block-level help text here.</p>
        </div>
        <div class="form-group">
            <%= f.label :location %>
            <%= f.text_field :location, class: 'form-control' %>
            <p class="help-block">Example block-level help text here.</p>
        </div>
        <div class="form-group">
            <%= f.label :summary %>
            <%= f.text_area :summary, class: 'form-control' %>
            <p class="help-block">Example block-level help text here.</p>
        </div>        
        <button type="submit" class="btn btn-default">Submit Button</button>
    <% end %>
  </div> 
</div>

<% end %>