<h1>All Members</h1>

<table>
	<th>Image</th>
	<th>Name</th>
	<th>Email</th>
	<th>Phone</th>
	<th>Birthday</th>
	<th>Role</th>
	<th>Active From</th>
	<th>Active Until</th>
	<th>Action</th>
	<% @members.each do |member| %>
		<tr>
			<td><%= image_tag member.image_url(:thumb) if member.image? %></td>
			<td><%= member.name%></td>
			<td><%= member.email%></td>
			<td><%= member.phone%></td>
			<td><%= member.birthday%></td>
			<td><%= member.role%></td>
			<td><%= member.active_start%></td>
			<td><%= member.active_end%></td>
			<td>
				<%= link_to 'Edit', edit_admin_member_path(member) %>
				<%= link_to 'Delete', admin_member_path(member),
				method: :delete %>
			</td>
		</tr>
	<% end %>
</table>