<h3><%= @member.name %>'s Profile</h3>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>
 
<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @member.birthday %>
</p>

<p>
  <strong>Role:</strong>
  <%= @member.role %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>

<p>
  <strong>Active From:</strong>
  <%= @member.active_start %>
</p>

<p>
  <strong>Active Until:</strong>
  <%= @member.active_end %>
</p>

<p>
  <strong>Image:</strong>
  <%= @member.image %>
</p>