<% content_for :content do %>
<div class="row">
	<h1>All Videos</h1>
</div>

<div class="row">
	<div class="col-lg-12">
	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <%= link_to "Add New", new_admin_video_path,  class: "btn btn-default" %>
	        </div>
	        <!-- /.panel-heading -->
	        <div class="panel-body">
	            <div class="table-responsive">
	                <table class="table">
	                    <thead>
	                        <tr>
	                            <th>#</th>
	                            <th>Playback</th>
								<th>Uploaded By</th>
								<th>Action</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <% @videos.each do |video| %>
								<tr>
									<td><%= video.id%></td>
									<td><%= video.url%></td>
									<td><%= video.user_id%></td>
									<td>
										<%= link_to 'Delete', admin_video_path(video),
										method: :delete %>
									</td>
								</tr>
							<% end %>
	                    </tbody>
	                </table>
	            </div>
	            <!-- /.table-responsive -->
	        </div>
	        <!-- /.panel-body -->
	    </div>
	    <!-- /.panel -->
	</div>
</div>

<% end %>